<%- include('partials/header') %>
<%- include('partials/navbar') %>
<main>
    <% for( let i = 0; i < fotos.length; i++ ) { %>
        <div class="mostrarImgs">
            <img src="<%= fotos[i].url %>" alt="">
            <h1 id="titulo"><%= fotos[i].titulo %></h1>
            <p id="descripcion"><%= fotos[i].descripcion %></p>
            <p><%= fotos[i].fecha %></p>
            <div class="fotosMain">
                <div class="datosLike">
                    <h3><%= fotos[i].likes %></h3>
                    <h3><%= fotos[i].dislikes %></h3>
                </div>
                <div class="botonesLike">
                    <a href="fotos/like/<%= fotos[i].id %>" class="button">Like</a>
                    <a href="fotos/dislike/<%= fotos[i].id %>" class="button">Dislikes</a>
                </div>
            </div>
            <div class="borrarEditar">
                <a href="fotos/delete/<%= fotos[i].id%>" class="button">Borrar</a>
                <a href="fotos/edit/<%= fotos[i].id %>?titulo=<%= fotos[i].titulo %>&&url=<%= fotos[i].url %>" class="button">Editar</a>
            </div>
            <div class="comentarios">
                <h2>Comentarios</h2>
                <p><%= fotos[i].comment %></p>
            </div>
            <div>
                <form id="foromComment" action="/fotos/comment/<%= fotos[i].id %>" method="post">
                    <input type="text" name="userComment" placeholder="Usuario" required>
                    <input type="text" name="comentario" placeholder="Comentar" required>
                    <input class="sendButton" type="submit">
                </form>
            </div>
        </div>
    <% } %>
</main>
<%- include('partials/footer') %>
